/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 elementary, Inc. (https://elementary.io)
 */

checkbutton > box {
    border-spacing: 0.5rem;
}

checkbutton header {
    margin-top: 0;
}

navigation-view-page {
    padding: 1em;
    padding-top: 2em;
}

.dialog-action-area levelbar block {
    box-shadow: none;
    border: none;
}
.dialog-action-area levelbar block.empty {
    background: alpha(@text_color, 0.1);
}

.dialog-action-area levelbar block.filled {
    background-image: none;
}

.dialog-action-area {
    border-spacing: 2em;
    margin: 0;
}

image.logo {
    background-position: 50%;
    background-size: 100%, cover, 100%;
    border: 1px solid @accent_color_900;
    border-radius: 6px;
    box-shadow:
        0 1px 2px alpha(black, 0.3),
        0 2px 2px alpha(black, 0.1),
        inset 0 -1px 0 0 alpha(@highlight_color, 0.2),
        inset 0 1px 0 0 alpha(@highlight_color, 0.3),
        inset 1px 0 0 0 alpha(@highlight_color, 0.07),
        inset -1px 0 0 0 alpha(@highlight_color, 0.07);
    color: white;
    -gtk-icon-shadow:
        0 1px 1px alpha(black, 0.3),
        0 2px 4px alpha(@accent_color_900, 0.2);
    -gtk-icon-style: symbolic;
    min-height: 56px;
    min-width: 56px;
    margin: 4px;
}

checkbutton .card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 86px 64px, cover;
    min-width: 92px;
    min-height: 64px;
    margin: 6px 6px 12px 12px;
}

checkbutton .card.prefer-default {
    background-color: white;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-default.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

checkbutton .card.prefer-dark {
    background-color: mix(@BLACK_300, @BLACK_500, 0.25);
    background-image:
        url("resource:///io/elementary/onboarding/appearance-dark.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

checkbutton .card.prefer-scheduled {
    background-size: 86px 64px, cover, cover;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-scheduled.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        ),
        linear-gradient(
            120deg,
            white 50%,
            mix(@BLACK_300, @BLACK_500, 0.25) 51%
        );
}
