/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 elementary, Inc. (https://elementary.io)
 */

checkbutton > box {
    border-spacing: 0.5rem;
}

checkbutton header {
    margin-top: 0;
}

navigation-view-page {
    padding: 1em;
    padding-top: 2em;
}

navigation-view-page > box {
    border-spacing: 2em;
}

.header-area {
    border-spacing: 0.25em;
}

.header-area image.large-icons {
    -gtk-icon-size: 64px;
}

.header-area image.normal-icons {
    -gtk-icon-size: 32px;
}

.header-area overlay {
    margin-bottom: 0.5em;
}

.content-area {
    border-spacing: 1em;
}

.dialog-action-area levelbar block {
    box-shadow: none;
    border: none;
}
.dialog-action-area levelbar block.empty {
    background: alpha(@text_color, 0.1);
}

.dialog-action-area levelbar block.filled {
    background-image: none;
}

.dialog-action-area {
    border-spacing: 2em;
    margin: 0;
}

granite-listitem.link box {
    padding: 0 0.5em;
}

desktop-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 86px 64px, cover;
    min-width: 92px;
    min-height: 64px;
    margin: 6px 6px 12px 12px;
}

desktop-preview.prefer-default {
    background-color: white;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-default.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

desktop-preview.prefer-dark {
    background-color: mix(@BLACK_300, @BLACK_500, 0.25);
    background-image:
        url("resource:///io/elementary/onboarding/appearance-dark.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

desktop-preview.prefer-scheduled {
    background-size: 86px 64px, cover, cover;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-scheduled.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        ),
        linear-gradient(
            120deg,
            white 50%,
            mix(@BLACK_300, @BLACK_500, 0.25) 51%
        );
}
