/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 elementary, Inc. (https://elementary.io)
 */

checkbutton header {
    margin-top: 0;
}

navigation-view-page {
    padding: 1em;
    padding-top: 2em;
}

.header-area {
    border-spacing: 0.25em;
}

.header-area image.large-icons {
    -gtk-icon-size: 64px;
}

.header-area image.normal-icons {
    -gtk-icon-size: 32px;
}

.header-area overlay {
    margin-bottom: 0.5em;
}

.dialog-action-area {
    border-spacing: 2em;
    margin: 0;
}

granite-listitem.link box {
    padding: 0 0.5em;
}

desktop-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 86px 64px, cover;
    min-width: 92px;
    min-height: 64px;
    margin: 6px 6px 12px 12px;
}

desktop-preview.prefer-default {
    background-color: white;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-default.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

desktop-preview.prefer-dark {
    background-color: mix(@BLACK_300, @BLACK_500, 0.25);
    background-image:
        url("resource:///io/elementary/onboarding/appearance-dark.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

desktop-preview.prefer-scheduled {
    background-size: 86px 64px, cover, cover;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-scheduled.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        ),
        linear-gradient(
            120deg,
            white 50%,
            mix(@BLACK_300, @BLACK_500, 0.25) 51%
        );
}

image.logo {
    --chromatic-black: hsl(from var(--accent-color) h 05 45);

    background-position: 50%;
    background-size: 100%, cover, 100%;
    border: 1px solid var(--chromatic-black);
    border-radius: 0.75rem;
    box-shadow:
        0 3px 12px -3px color-mix(in srgb, hsl(from var(--accent-color) h 30 50) 50%, transparent),
        0 1px 2px color-mix(in srgb, hsl(from var(--accent-color) h 10 45) 30%, transparent),
        0 2px 2px color-mix(in srgb, hsl(from var(--accent-color) h 10 15) 10%, transparent),
        inset 0 -1px 0 0 color-mix(in srgb, var(--highlight-color) 20%, transparent),
        inset 0 1px 0 0 color-mix(in srgb, var(--highlight-color) 30%, transparent),
        inset 1px 0 0 0 color-mix(in srgb, var(--highlight-color) 7%, transparent),
        inset -1px 0 0 0 color-mix(in srgb, var(--highlight-color) 7%, transparent);
    color: white;
    -gtk-icon-shadow:
        0 1px 1px color-mix(in srgb, hsl(from var(--accent-color) h 20 30) 50%, transparent),
        0 2px 4px color-mix(in srgb, var(--chromatic-black) 50%, transparent);
    -gtk-icon-style: symbolic;
    min-height: 56px;
    min-width: 56px;
    margin: 4px;
}
