/*
 * SPDX-License-Identifier: GPL-3.0-or-later
 * SPDX-FileCopyrightText: 2024 elementary, Inc. (https://elementary.io)
 */

checkbutton > box {
    border-spacing: 0.5rem;
}

checkbutton header {
    margin-top: 0;
}

navigation-view-page {
    padding: 1em;
    padding-top: 2em;
}

navigation-view-page > box {
    border-spacing: 2em;
}

.header-area {
    border-spacing: 0.25em;
}

.header-area image.large-icons {
    -gtk-icon-size: 64px;
}

.header-area image.normal-icons {
    -gtk-icon-size: 32px;
}

.header-area overlay {
    margin-bottom: 0.5em;
}

.content-area {
    border-spacing: 1em;
}

.dialog-action-area levelbar block {
    box-shadow: none;
    border: none;
}
.dialog-action-area levelbar block.empty {
    background: alpha(@text_color, 0.1);
}

.dialog-action-area levelbar block.filled {
    background-image: none;
}

.dialog-action-area {
    border-spacing: 2em;
    margin: 0;
}

row.link box {
    padding: 0 6px;
    border-spacing: 12px;
}

desktop-preview {
    min-width: 92px;
    min-height: 64px;
    margin: 0.5rem 0.5rem 1rem 1rem;
}

desktop-preview .shell {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 86px 64px;
}

desktop-preview.prefer-default .shell{
    background-image: url("resource:///io/elementary/onboarding/appearance-default.svg");
}

desktop-preview.prefer-dark .shell {
    background-image: url("resource:///io/elementary/onboarding/appearance-dark.svg");
}

desktop-preview.prefer-scheduled .shell {
    background-size: 86px 64px, cover;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-scheduled.svg"),
        linear-gradient(
            120deg,
            transparent 50%,
            alpha(black, 0.25) 50%
        );
}
