[Desktop Entry]
Name=Welcome
Comment=Change common settings on first-run
Exec=io.elementary.onboarding
Icon=io.elementary.onboarding
NotShowIn=X-Installer;
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
