[Desktop Entry]
Name=Welcome
Comment=Change common settings on first-run
Exec=io.elementary.onboarding
Icon=system-os-installer
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
