/*
* Copyright 2020 elementary, Inc. (https://elementary.io)
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 2 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA.
*/

checkbutton .card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 86px 64px, cover;
    min-width: 92px;
    min-height: 64px;
    margin: 6px 6px 12px 12px;
}

checkbutton .card.prefer-default {
    background-color: white;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-default.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

checkbutton .card.prefer-dark {
    background-color: mix(@BLACK_300, @BLACK_500, 0.25);
    background-image:
        url("resource:///io/elementary/onboarding/appearance-dark.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}

checkbutton .card.prefer-scheduled {
    background-color: white;
    background-image:
        url("resource:///io/elementary/onboarding/appearance-scheduled.svg"),
        linear-gradient(
            to bottom,
            alpha(@accent_color_300, 0.1),
            alpha(@accent_color_500, 0.1)
        );
}
