image.logo {
    background-position: 50%;
    background-size: 100%, cover, 100%;
    border: 1px solid @accent_color_900;
    border-radius: 6px;
    box-shadow:
        0 1px 2px alpha(black, 0.3),
        0 2px 2px alpha(black, 0.1),
        inset 0 -1px 0 0 alpha(@highlight_color, 0.2),
        inset 0 1px 0 0 alpha(@highlight_color, 0.3),
        inset 1px 0 0 0 alpha(@highlight_color, 0.07),
        inset -1px 0 0 0 alpha(@highlight_color, 0.07);
    color: white;
    -gtk-icon-shadow:
        0 1px 1px alpha(black, 0.3),
        0 2px 4px alpha(@accent_color_900, 0.2);
    -gtk-icon-style: symbolic;
    min-height: 56px;
    min-width: 56px;
    margin: 4px;
}
