name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:

    runs-on: ubuntu-22.04

    strategy:
      fail-fast: false
      matrix:
        version: [stable, unstable, development-target]
    container:
      image: ghcr.io/elementary/docker:${{ matrix.version }}

    steps:
    - uses: actions/checkout@v6
    - name: Install Dependencies
      run: |
        apt update
        apt install -y desktop-file-utils libgranite-7-dev libgtk-4-dev libadwaita-1-dev libpantheon-wayland-1-dev meson valac
    - name: Build
      run: |
        meson build
        ninja -C build install

  lint:

    runs-on: ubuntu-latest

    container:
      image: valalang/lint

    steps:
    - uses: actions/checkout@v6
    - name: Lint
      run: io.elementary.vala-lint -d .
